<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews for Dealerships</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealerships Review</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
                  <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Username" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <h2>Reviews for <b>{{dealer.full_name}}</b></h2>
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% for review in review_list %}
        <div class="card">
            {% if review.sentiment == "positive" %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png">
            {% elif review.sentiment == "neutral" %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png">
            {% elif review.sentiment == "negative" %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png">
            {% else %}
            <p>Error: {{review.sentiment}}</p>
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{review.car_model}}, {{review.car_make}}</h3>
                <h3 class="card-title">{{review.car_year}}</h3>
                <p class = "card-text">{{review.review}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer.id%}">Add Review</a>
    {% endif %}
    </body>

</html>